<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Discover Artist</title>
    {{> head}}
</head>
<body style="font-family: 'Oswald', sans-serif;">

{{#if logged}}
    {{> profileHead}}
{{else}}
    {{> header}}
{{/if}}
<div class="container" style="padding-top: 100px;" >
{{#each data}}
    <div class="jumbotron" style="background:transparent !important">
        <div class="row" >
            <div class="col-3"><a href="/artist:{{username}}"><img src="/userImages/{{profile_image}}" class="img-fluid"></img></a></div>
            <span style="color:black;">{{name}}</span>
            <div class="row" style="font-size:1.4em;">{{bio}}</div>
        </div>
        </a>
    </div>
{{/each}}
</div>
</body>
</html>
