<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Discover Events</title>
    {{> head}}
</head>
<body style="font-family: 'Oswald', sans-serif;">

{{#if logged}}
    {{> profileHead}}
{{else}}
    {{> header}}
{{/if}}
<div class="container" style="padding-top: 100px;" >
  <form action="/events/filter" method="post">
    <div class="input-group">
  <span class="input-group-btn">
    <button class="btn btn-secondary" style="margin-right:1rem;" type="button">Search Event&nbsp;&nbsp;&nbsp;</button>
  </span>
        <div class="checkbox">
          <label><input type="checkbox"  tabindex="2" name="category" value="music"> Music<br></label>
          <label><input type="checkbox" tabindex="2" name="category" value="stand-up"> Stand-up<br></label>
          <label><input type="checkbox" tabindex="2" name="category" value="dance"> Dance<br></label>
          <label><input type="checkbox" tabindex="2" name="category" value="drama"> Drama<br></label>
        </div>
    </div>
    <br>
    <input class="btn btn-block btn-info" tabindex="7" type="submit" value="Search">
    <br>
  </form>
{{#each data}}
    <a href="/events/{{name}}">
      <div class="jumbotron" style="background:transparent !important">
          <div class="row">

              <div class="col-3"><img src="/eventImages/{{event_img}}" alt="img1" class="img-fluid"></div>

              <div class="col-9">
                 <div class="row" style="font-size:1.4em;">{{name}}</div>
                 <div class="row">{{desc}}</div>
                 <div class="row" style="color:grey;">{{venue}}</div>
                 <div class="row" style="margin-top:1rem;">
                  <button type="button" class="btn btn-default"><span class="badge" style="color:grey;">{{category}}</span></button>
                 </div>
                 <div class="row" style="position:absolute; bottom:0">
                   <div class="col-9">
                     <div class="row">{{date}}</div>
                     <div class="row">{{time}}</div>
                   </div>
                  <div class="col-3">
                    <div class="row" >
                      <button style="float:right;" class="btn btn-success"><span style="font-size:.8em;">BUY NOW</span> <i class="fa fa-inr" aria-hidden="true"></i>{{price}}</button>
                    </div>
                  </div>
                 </div>
               </div>
          </div>
      </div>
    </a>
{{/each}}
</div>
</body>
</html>
