<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>INDie ARTIST</title>
    {{> head}}
</head>
<body style="font-family: 'Oswald', sans-serif;">
{{#if logged}}
    {{> profileHead}}
{{else}}
    {{>header}}
{{/if}}
    <div class="jumbotron" style="padding-top: 135px;">
        <div class="container">

            <div class="row">
                <div class="col-6-md" style="margin-right:20px; ">
                    <img class="img-fluid img-thumbnail" src="/userImages/{{data.profile_image}}" style="height: 250px">
                </div>
                <div class="col-6-md">
                  {{#if logged}}
                    hello,
                    {{else}}
                  {{/if}}
                    <h1 style="font-weight: bolder">{{data.name}}</h1> <h4>({{data.username}})</h4>
                    <h2>{{data.bio}}</h2>

                </div>
            </div>

        </div>
    </div>
    <div>
        <br>

        <div class="container">
            <h1>EVENTS: </h1>
            {{#each artistevents as |event|}}
            <div class="jumbotron">
                <div class="container">
                    <div class="row">
                        <div class="col-5">
                <a href="/events/{{event.name}}" style="text-decoration : none">
                        <img class="img-fluid img-thumbnail" src="/eventImages/{{event.event_img}}" style="height: 250px">
                        </div>
                        <div class="col-7">
                        <h1>{{event.name}}</h1>
                        <h3>{{event.desc}}</h3>
                        </div>

                </a>
                    </div>
                <br>
                </div>

            </div>
        {{/each}}
        </div>
    </div>
    <!--add the events data over here-->
</body>

</html>
