<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>INDie ARTIST</title>
    {{> head}}
</head>
<body style="font-family: 'Oswald', sans-serif;">
{{#if logged}}
    {{> profileHead}}
{{else}}
    {{>header}}
{{/if}}
<div class="jumbotron" style="padding-top: 135px;">
    <div class="container">
        <div class="row">
            <div class="col-7">
                <img class="img-fluid img-thumbnail"  src="/eventImages/{{eventData.event_img}}" style="height: 450px">
                <br>
                <div class="row">
                    <div class="col-md-3">
                    </div>
                <div class="col-md-2">
                    <b>{{eventData.likes}}</b>
                <form action="/events/like" method="post">
                    <input type="hidden" name="eventname" value={{eventData.name}} />
                    <input  type='submit' class='btn btn-success' value='Going'>
                </form>
                </div>
                <div class="'col-md-2">
                    <b>{{eventData.dislikes}}</b>
                <form action="/events/dislike" method="post">
                    <input type="hidden" name="eventname" value={{eventData.name}} />
                    <input  type='submit' class='btn btn-danger' value='Not-going'>
                </form>
                </div>
                </div>
            </div>
            <div class="col-5">
                <h1>{{eventData.name}}</h1>
                <br>
                <h3>{{eventData.desc}}</h3>
                <br>
                artist: <code><a href="/artist/{{eventData.by}}">{{eventData.by}}</a></code>
                <br><br>
                time: <h3>{{eventData.time}}</h3>
                date: <h3>{{eventData.date}}</h3>
                <h2><span class="badge badge-secondary">{{eventData.category}}</span></h2>
                <button type="button" class="btn btn-success btn-lg"><span>BUY NOW </span><i class="fa fa-inr" aria-hidden="true"></i> {{eventData.price}}</button>
            </div>

        </div>
    </div>
</div>

<!--add the events data over here-->
</body>

</html>