<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IndieArtist</title>

    <script src="/JS/particlesjs/dist/particles.js"></script>
    <script>
        window.onload = function() {

            Particles.init({
                // normal options
                selector: '.background',
                maxParticles: 500,

                // options for breakpoints
                responsive: [
                    {
                        breakpoint: 768,
                        options: {
                            maxParticles: 200,
                            color: '#48F2E3',
                            connectParticles: true
                        }
                    }, {
                        breakpoint: 425,
                        options: {

                            maxParticles: 500,
                            color: '#48F2E3',
                            connectParticles: true
                        }
                    }, {
                        breakpoint: 5000,
                        options: {
                            color: '#14f2ef',
                            maxParticles: 600,
                            connectParticles: true// disables particles.js
                        }
                    }
                ]
            });
        }
    </script>
    <style>
        html, body {
               margin: 0;
               padding: 0;
             }

        .background {
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            z-index: 0;
        }
        .carousel-inner > .item > img {
          margin: 0 auto;
        }
    </style>
    {{> head}}
</head>
<body style="font-family: 'Oswald', sans-serif;">
<canvas class="background"></canvas>

{{#if logged}}
    {{> profileHead}}
{{else}}
    {{> header}}
{{/if}}



<div class="container" style=" position:relative;top:170px" >

    <!--create the home page here-->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators" >
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
  </ol>
  <div class="carousel-inner " role="listbox" align="center" style=" width:100%; height: 500px !important;"  >
    <div class="carousel-item active" >
      <img class="d-block img-fluid" src="/eventImages/static.jpg"  style="width: auto;height: auto;">
      <div class="carousel-caption d-none d-md-block"  style="top:20px;color: black">
          <h3>SUNBURN</h3>
          <p>Checkout DJ MC ripping up the tracks.</p>
        </div>
    </div>
      {{#each data}}
    <div class="carousel-item " >
      <a href="/events/{{name}}"><img class="d-block img-fluid" style="width: auto;height: auto;" src="/eventImages/{{event_img}}"></a>
      <div class="carousel-caption d-none d-md-block" style="top:20px">
          <h3>{{name}}</h3>
          <p>{{desc}}</p>
        </div>
    </div>
      {{/each}}

  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


</div>


</body>

</html>
